* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.video-form {
  width: 50%;
  margin: 1rem auto;
}

.player-container {
  width: 50%;
  background-color: darkslategray;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.player-controls {
  height: 2.4rem;
  background-color: darkslateblue;
  opacity: 1;
  width: 100%;
}

.player-buttons {
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 10%;
}

.my-btn-play {
  height: 100%;
  border: none;
  background-color: rgba(1, 1, 1, 0);
  color: white;
  cursor: pointer;
}

.control-volume {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}

#my-video {
  width: 100%;
}

.progress-bar {
  background-color: aqua;
  height: 30%;
  cursor: pointer;
}

.progress-bar-fill {
  background-color: white;
  height: 100%;
  transition: all 0.1s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: visible;
}

.draggable {
  position: absolute;
  /* border-radius: 50%; */
  /* margin-left: -0.5rem; */
  height: 0.6rem;
  width: 0.6rem;
  background-color: lightseagreen;
}
