* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.player-container {
  width: 50%;
  background-color: tomato;
  display: flex;
  flex-direction: column;
}

#my-video {
  width: 100%;
}

.player-controls {
  height: 2rem;
  background-color: blueviolet;
}

.progress-bar {
  background-color: aqua;
  height: 0.2rem;
}

.progress-bar-fill {
  background-color: rgb(255, 136, 0);
  height: 100%;
  transition: all 1s;
}
